* {

    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    margin-top: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background: rgb(63, 63, 65);

}

.calculator {
    background: rgb(19, 19, 19);
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(227, 223, 223, 0.3);
    width: 320px;
}

#display {


    width: 100%;
    height: 60px;
    background: #8b9297;

    font-size: 2rem;
    text-align: right;
    border: none;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 15px;
}

.buttons {

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
}

.button {
    background: #333;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 1.2rem;
    padding: 15px;
    cursor: pointer;
    transition: 0.2s;
}

.button:hover {
background: wheat;


}

.operator {
  background: #4f340f;
}

.operator:hover {
  background: #e08b00;
}

.equal {
  background: hsl(120, 30%, 16%);
  grid-column: span 1;
}

.equal:hover {
  background: #62e27e;
}

.zero {
  grid-column: span 2;
}
