* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/* Container */
.container {
  position: relative;
  width: 100%;
  max-width: 1100px;
  margin: 20px auto;
  background: #fff;
  display: grid;
  grid-template-columns: 1fr 2fr;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

/* Left Side */
.left_side {
  background: #003147;
  padding: 40px;
  color: #fff;
}

.profile {
  text-align: center;
}

.profile img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 4px solid #fff;
  margin-bottom: 15px;
}

.profile h2 {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.4em;
}

.profile span {
  font-size: 14px;
  font-weight: normal;
  color: #ddd;
}

/* Contact Info */
.contact_info {
  margin: 30px 0;
}

.contact_info h3 {
  margin-bottom: 10px;
  border-bottom: 2px solid #fff;
  padding-bottom: 5px;
  font-size: 16px;
}

.contact_info ul {
  list-style: none;
}

.contact_info li {
  margin: 8px 0;
  font-size: 14px;
}

.contact_info i {
  margin-right: 10px;
  color: #00bcd4;
}


.skills h3 {
  margin-bottom: 10px;
  border-bottom: 2px solid #fff;
  padding-bottom: 5px;
  font-size: 16px;
}

.skill {
  margin: 15px 0;
}

.skill p {
  font-size: 14px;
  margin-bottom: 5px;
}

.bar {
  width: 100%;
  height: 8px;
  background: #111;
  border-radius: 5px;
  overflow: hidden;
}

.bar div {
  height: 100%;
  background: #00bcd4;
  border-radius: 5px;
}

/* Right Side */
.right_side {
  background: #c3bebe;
  padding: 40px;
}

.right_side h2 {
  color: #003147;
  margin-bottom: 15px;
  border-bottom: 2px solid #003147;
  padding-bottom: 5px;
}

.about p {
  font-size: 14px;
  line-height: 1.6;
  margin-bottom: 20px;
}

.box {
  margin-bottom: 20px;
}

.box h4 {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #003147;
}

.box p {
  font-size: 14px;
  line-height: 1.4;
  margin-bottom: 5px;
}


@media (max-width: 768px) {
  .container {
    grid-template-columns: 1fr;
  }

  .left_side {
    text-align: center;
  }
}

.buttons {
  

  margin-top: 20px;
  text-align: center;
}

.buttons a {

  display: inline-block;
  margin: 10px;
  padding: 10px 20px;
  border-radius: 20px;
  background: #463247;
  color: white;
  text-decoration: none;
  font-size: 15px;
  font-weight: bold;
  transition: 0.3s;
}

.buttons a:hover {
  background: #005f87;
}
